<div>
    <app-menu></app-menu>
    <div class="w-full h-screen grid grid-cols-3 place-items-center p-10 auto-rows">

        <!--Dias da semana-->
        @for (i of [].constructor(7); track $index){
            <div class="w-3/4 h-3/4 bg-gray-100 rounded p-4 shadow-xl space-y-4">
                <p class="text-black text-lg font-semibold">Segunda-Feira</p>
                <!--Tarefas-->
                <div class="overflow-scroll overflow-x-hidden h-3/4 scrollbar-blue">
                    <!--Lista de tarefas dentro do dia-->
                    @for (i of [].constructor(7); track $index){
                        <div class="p-4">
                            <ul class="space-y-4">  
                                <li>
                                    <div class="flex justify-between items-center w-full">
                                        <span>Verificar produto</span>
                                        <mat-icon class="text-md ml-4 text-green-500" fontIcon="check"></mat-icon>
                                        <mat-icon class="text-md ml-4 text-red-500" fontIcon="circle"></mat-icon>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    }
                </div>
                <div class="w-full flex items-center justify-center">
                    <a routerLink="" class="flex items-center">
                        <mat-icon fontIcon="add" class="text-md text-blue-500"></mat-icon>
                    </a>
                </div>
            </div>
        }
        
</div>